
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import './styles/_palette';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$notes-challenge-primary: mat.define-palette($primary);
$notes-challenge-accent: mat.define-palette($secondary);

// The warn palette is optional (defaults to red).
$notes-challenge-warn: mat.define-palette($warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$notes-challenge-theme: mat.define-dark-theme((
  color: (
    primary: $notes-challenge-primary,
    accent: $notes-challenge-accent,
    warn: $notes-challenge-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($notes-challenge-theme);

/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}
html, body { height: 100%; overflow-x: hidden; background-color: #252525; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
