@import "../../../styles/_palette";

.formContainer {
    padding: 10px 20px;

    @media screen and (min-width: 768px) {
        width: 400px;
    }

    h3 {
        padding: 6px auto;
        color: map-get($primary, contrast, 500);
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        label {
            color: map-get($primary, contrast, 500);
        }

        textarea {
            width: 100%;
            min-height: 170px;
        }

        span {
            color: gray
        }

        .actionsContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            @media screen and (min-width: 768px) {
                flex-direction: row;
                justify-content: center;
            }
        }
    }
}