@import "../../../styles/palette";

.cardContainer {
    width: 170px;
    min-height: 300px;
    border-radius: 10px;
    background-color: map-get($primary, 500);
    color: map-get($primary, contrast, 500);
    word-break: break-all;
    transition: transform 2s ease-in-out;
    @media screen and (min-width: 768px) {
        width: 200px;
    }

    h2 {
        margin: 0;
        padding: 10px;
        color: map-get($secondary, contrast, 500);
        background-color: map-get($secondary, 500);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    p {
        padding: 10px;
    }
}

.action {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}